*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 94%;
  margin: 0 auto;
  display: flex;
}

.header {
  width: 100%;
  min-height: 100vh;
  padding: 24px 0;
  background-color: rgba(211, 211, 211, 0.4);
}

.header .container {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
}

.header .logo,
.nav-list,
.mobile-nav-menu {
  display: none;
}

.header .nav-menu .btn-mobile-menu{
  color: #272a31;
  font-size: 36px;
  font-weight: bold;
}

.header .hero {
  margin-top: 48px;
  margin-left: -16px;
  padding: 24px 0;
}

.header .event-theme {
  color: #ec5242;
  margin: 8px 0;
}

.header .event-title {
  color: #ec5242;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  background: #EC5242;
  background: -webkit-linear-gradient(to top right, #EC5242 30%, #272A31 40%, #EC5242 60%);
  background: -moz-linear-gradient(to top right, #EC5242 30%, #272A31 40%, #EC5242 60%);
  background: linear-gradient(to top right, #EC5242 30%, #272A31 40%, #EC5242 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .short-description {
  border: 2px solid #fff;
  color: #272a31;
  line-height: 24px;
  padding: 20px 12px;
  margin: 16px 0;
}

.header .event-date {
  color: #272a31;
  font-size: 26px;
  font-weight: 700;
}

.header .event-place {
  color: #272a31;
  margin: 16px 0;
}

.main{
  background-image: url("../img/main-section-desktop-background-init.png");
  background-size: contain;
  background-repeat: repeat;
}

.main .container {
  flex-direction: column;
  align-items: center;
  /* padding: 24px 0; */
}

.main .section-title {
  text-align: center;
  color: #fff;
  font-size: 20px;
  width: 100%;
}

.section-title-underline {
  width: 50px;
  font-size: 2px;
  margin: 16px 0;
  border: 1px solid#ec5242;
}

.main .program {
  display: flex;
  margin: 12px 16px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 24px);
  background-color: rgba(211, 211, 211, 0.1);
}

.main .program-title {
  color: #ec5242;
  width: 20%;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.main .program-description {
  color: #fff;
  line-height: 24px;
  width: 60%;
}

.featured-speakers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0;
}

.featured-speakers .section-title {
  text-align: center;
  color: #272a31;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}

.featured-speakers .section-title-underline {
  width: 50px;
  font-size: 2px;
  margin: 16px 0;
  margin-left: calc(50% - 25px);
  border: 1px solid#ec5242;
}

.featured-speakers .speaker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  padding: 12px;
  width: calc(100% - 24px);
}

.featured-speakers .speaker .speaker-info {
  width: 60%;
  color: #272a31;
}

.featured-speakers .speaker .speaker-info .job-title {
  color: #ec5242;
  font-weight: 600;
  margin: 14px 0;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  padding: 48px 24px;
}

.partners .section-title {
  color:#fff;
}

.partners .sponsors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.partners .sponsor-logo {
  max-width: 75px;
  max-height: 75px;
  margin-right: 16px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 16px;
  padding: 36px;
}

.footer .copy-right {
  width: 60%;
}
